body {
    font-family: Arial;
    margin: 30px;
    background-color: #fae7f8;
    font-style: italic;
    
}

h1 {
    text-align: center;
}

.search {
    margin: 20px 0;
}

input,
select {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius:  10%;

}

.buttons {
    margin: 15px 0;
    border-radius:  10%;

}

#cards {
    display: flex;
    flex-wrap: wrap;
    border-radius:  10%;

}

.card {
    background-color: white;
    width: 250px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius:  10%;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius:  10%;

}

.card button {
    background-color: red;
    color: white;
    border: none;
    border-radius:  10%;

}

.form {
    background-color: white;
    padding: 20px;
    max-width: 400px;
    border-radius:  10%;

}

#error {
    color: red;
}

#msg {
    font-weight: bold;
}

#salaryDetails {
    font-size: 18px;
}
